body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(34, 34, 34);
    font-size: 22px;
}

p {
    padding: 0 20px;
    text-align: justify;
}

#preface {
    font-style: italic;
}

h1 {
    text-align: center;
    font-size: 46px;
}

h2 {
    font-size: 30px;
    border: 1px solid rgb(34, 34, 34);
    border-radius: 3px;
    max-width: 450px;
    text-align: center;
}

h3 {
    font-size: 26px;
    border: 1px solid rgb(34, 34, 34);
    border-radius: 3px;
    max-width: 150px;
    text-align: center;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
}

a {
    color: #0377D3;
    text-decoration: none;
}

a:hover {
    color: #0300D3;
}

hr {
    height: 2px;
    background-color: #0377D3;
    border-color: #0377D3;
}
